{% extends "base.html" %}

{% block title %}Agregar Condición por Diente{% endblock %}

{% block content %}
    <h2>Agregar nueva condición por diente</h2>
    <form method="POST">
        <label for="diente_id">Diente:</label>
        <select id="diente_id" name="diente_id" required>
            {% for diente in dientes %}
                <option value="{{ diente.id }}">{{ diente.numero_diente }} - {{ diente.ubicacion }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="condicion_id">Condición Dental:</label>
        <select id="condicion_id" name="condicion_id" required>
            {% for condicion in condiciones %}
                <option value="{{ condicion.id }}">{{ condicion.nombre }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>
        <br><br>

        <button type="submit">Agregar</button>
    </form>
{% endblock %}
