
.login--image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1; 
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
	min-height: 100vh;
	padding: 20px;
	box-sizing: border-box;
	overflow-x: hidden;
}

.card {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	color: rgba(255, 255, 255, 0.377);
}

table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 12px;
	overflow: hidden;
}

thead th {
	background-color: rgba(85, 96, 143, 0.9);
	color: white;
	text-align: center;
}

/* Celdas */
th, td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Hover */
tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transition: 0.3s;
}
.transparente-tabla {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    color: rgba(255, 255, 255, 0.8); 
}

.transparente-tabla th, .transparente-tabla td {
    padding: 12px 15px;
    text-align: left;
}

.transparente-tabla th {
    background-color: rgba(255, 255, 255, 0.3); 
}

.transparente-tabla td {
    background-color: rgba(255, 255, 255, 0.1); 
}
/* Responsive en móvil */
@media (max-width: 768px) {
	th, td {
		font-size: 13px;
		padding: 10px;
	}

	.btn {
		font-size: 12px;
		padding: 6px 10px;
	}
}

