<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesMenu.css') }}">
</head>

<body>
    <ul>
        <li>
            <a href="#">
                <i class="ai-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-image"></i>
                <span>Images</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-file"></i>
                <span>Files</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-game-controller"></i>
                <span>Games</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('paciente.nuevo_paciente') }}">
                <img src="{{ url_for('static', filename='imagenes/paciente.png') }}" class="icono-menu">
                <span>Paciente</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-bell"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-gear"></i>
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-person"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</body>

</html>
